<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swiftAndObjectiveC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7D9F5A21C4839EF00B63002</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7D9F5B91C4839F000B63002</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7D9F5C41C4839F000B63002</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
