<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Comic Viewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D75AFE571BAEB09300AA05AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D75AFE6B1BAEB09300AA05AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D75AFE761BAEB09300AA05AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
